@use 'src/styles/vars' as v;

.list-item {
  display: block;
  background: v.$light;
  border-radius: 3px;
  padding: v.$gutter;
  margin: v.$gutter / 2 0;
  &--done {
    opacity: 0.5;
    text-decoration: line-through;
  }
}
